:root {
  --border-color: black;
  --input-background-color: white;
}

body:not(.resolution-SHOW_BLOCKED_INFO_PAGE) #blocked-info-page-details {
  display: none;
}

body:not(.counter-show) #counter-period-option {
  display: none;
}

#blocked-container {
  display: flex;
  flex-direction: column;
  margin: 1em 0 2em 0;
}

#blocked-container > div {
  align-self: flex-start;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: var(--border-color);
  color: var(--input-background-color);
  font-weight: bold;
  padding: .25em .5em;
}

#blocked-list {
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
  border: 3px solid var(--border-color);
  background-color: var(--input-background-color);
  color: var(--text-color);
  outline: none;
  resize: none;
  font-size: inherit;
  line-height: inherit;
  white-space: pre;
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  height: 400px;
  padding: .5em .75em;
  margin: 0;
}

#blocked-list::placeholder {
  color: silver;
  opacity: 1;
  transition: opacity .7s;
}

.option {
  display: flex;
  align-items: center;
}

.option:not(:last-child) {
  margin-bottom: 6px;
}

.option.baseline {
  align-items: baseline;
}

.option > div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-right: .6em;
}

select, fieldset {
  border: 1px solid var(--border-color);
  color: var(--text-color);
}

select {
  border-radius: var(--border-radius);
  background-color: var(--input-background-color);
  font-size: inherit;
  padding: 3px;
}

select#resolution {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

fieldset {
  display: inline-block;
  margin: 0;
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding: 6px;
}

#credits {
  margin-top: 5em;
}

#star {
  color: gold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #222;
    --input-background-color: #222;
  }

  #blocked-container > div {
    color: var(--text-color);
  }

  #star {
    filter: saturate(50%);
  }
}

@media only screen and (max-width: 800px) {
  #resolution-option {
    flex-direction: column;
  }
}
