:root {
  --area-border-color: black;
  --area-background-color: white;
}

body:not(.resolution-SHOW_BLOCKED_INFO_PAGE) #blocked-info-page-details {
  display: none;
}

body:not(.counter-show) #counter-period-option {
  display: none;
}

textarea {
  background-color: var(--area-background-color);
  color: var(--text-color);
}

#blocked-list {
  border: 3px solid var(--area-border-color);
  outline: none;
  resize: none;
  font-size: inherit;
  line-height: inherit;
  white-space: pre;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  height: 350px;
  padding: .5em .75em;
}

#blocked-list::placeholder {
  color: silver;
  opacity: 1;
  transition: opacity .7s;
}

.option {
  display: flex;
  align-items: center;
}

.option:not(:last-child) {
  margin-bottom: 6px;
}

.option.baseline {
  align-items: baseline;
}

.option > div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-right: .6em;
}

select, fieldset {
  border: 1px solid var(--area-border-color);
  color: var(--text-color);
}

select {
  background-color: var(--area-background-color);
  font-size: inherit;
  padding: 3px;
}

fieldset {
  display: inline-block;
  margin: 0;
  border-top: none;
  padding: 6px;
}

#credits {
  margin-top: 5em;
}

#star {
  color: gold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --area-border-color: #222;
    --area-background-color: #222;
  }

  #star {
    filter: saturate(50%);
  }
}

@media only screen and (max-width: 800px) {
  #resolution-option {
    flex-direction: column;
  }
}
