body:not(.ready) #blocked-list::placeholder,
body:not(.ready) #options {
  opacity: 0;
}

body:not(.ready) #options {
  visibility: hidden;
}

body:not(.resolution-SHOW_BLOCKED_INFO_PAGE) #blocked-info-page-details {
  display: none;
}

body:not(.counter-show) #counter-period-option {
  display: none;
}

#blocked-list {
  border: 3px solid;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  white-space: pre;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  height: 350px;
}

#blocked-list::placeholder {
  color: silver;
  opacity: 1;
  transition: opacity .7s;
}

#options {
  transition: opacity 1s;
}

.option {
  display: flex;
  align-items: center;
}

.option.baseline {
  align-items: baseline;
}

.option > div {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-right: .6em;
}

select {
  font-size: inherit;
  border: 1px solid;
  padding: 3px;
}

fieldset {
  display: inline-block;
  margin: 0;
  border: 1px solid;
  border-top: none;
  padding: 6px;
}

#credits {
  margin-top: 5em;
}
